name: "yeah boi"
on:
  push:
    branches: [ main ]
  schedule:
    - cron: "*/60 * * * *"

jobs:
  Yamete_kudasai:
    runs-on: self-hosted    
    steps:
      - uses: actions/checkout@v4

      - name: run me uwu
        run: sh check.sh
        
      - name: auwuto commit uwu
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "update: status"
          repository: .
          file_pattern: images/* README.md results data total analytics.png
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
